---
import Layout from "@layouts/Layout.astro";
import SignForm from "./Form";
---

<Layout title="Get Onboard | Lunar">
  <section class="h-full gradient-form bg-primary md:h-screen">
    <SignForm client:load />
  </section>
</Layout>
