---
export interface Props {
  title: string;
}

const { title } = Astro.props;

import "@styles/globals.css";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <meta
      name="description"
      content="TDark themed Website built on AstroJS, with design suitable for saas/startup business."
    />
    <script src="../stores/index.ts"></script>
    <link rel="stylesheet" href="../styles/globals.css" />
    <title>{title}</title>
  </head>
  <body>
    <slot />
  </body>
</html>
